@font-face {
  font-family: 'Orbitron';
  src: url('./assets/fonts/Orbitron-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --gray-high: #d9d9d9;
  --gray-medium: #a1a1a1;
  --gray: #666666;
  --orange: #FF7700;
  --orange-low: #c95e01;
  --blue-low: #101F31;
  --blue: #223A57; 
  --blue-high: #0022FF;
  --green: #53FF45;

  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--orange) transparent;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  background: linear-gradient(to bottom right, var(--blue-low), var(--blue));
}

.no-scroll {
  height: initial;
  overflow: initial;
}

#app {
  margin: 0 auto;
  position: relative;
  min-height: 100vh;

  &:before {
    content: "";
    background: radial-gradient(ellipse at top right, #d49583, #5e62a6, transparent);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
  }
}

.principal-text, .secondary-text {
  font-family: 'Orbitron', sans-serif;
} 

.principal-text {
  font-size: 70px;
  color: var(--orange);
  text-shadow: 0 0 20px rgba(245, 245, 245, 0.4);
  font-weight: bold;
}

.principal-text-md {
  font-size: 20px;
  color: var(--orange);
  font-weight: bold;

  &:hover {
    color: var(--orange-low);
  }
}

.secondary-text {
  text-shadow: 0 0 20px rgba(245, 245, 245, 0.4);
  color: var(--gray-high);
  font-size: 30px;
}

.section-title {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 2rem;
}

.fontsize-xl {
  font-size: 70px;
}

.fontsize-lg {
  font-size: 30px;
}

.fontsize-md {
  font-size: 20px;
}

.fontsize-sm {
  font-size: 15px;
}

@media (max-width: 600px) {
  .fontsize-xl {
    font-size: 50px;
  }
  
  .fontsize-lg {
    font-size: 20px;
  }
  
  .fontsize-md {
    font-size: 15px;
  }
  
  .fontsize-sm {
    font-size: 12px;
  }

  .principal-text {
    font-size: 50px;
    color: var(--orange);
    text-shadow: 0 0 20px rgba(245, 245, 245, 0.4);
    font-weight: bold;
  }
  
  .secondary-text {
    font-size: 20px;
  }
  
  .section-title {
    font-size: 12px;
  }
}

input, textarea, select, .btn {
  border-radius: 2rem;
  background: var(--blue);
  padding: .7rem;
  border: 1px solid var(--orange);
  outline: none;
  color: var(--gray-high);
  width: 100%;

  &::placeholder {
    color: var(--gray-medium);
  }

  &:focus {
    outline: 3px solid rgba(255, 119, 0, 0.5);
  }
}

.btn {
  cursor: pointer;
  background: var(--orange);
  color: var(--blue-low);
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background: var(--orange-low);
  }
}

h1, h2, h3, h4, h5, h6, span, p, a {
  color: var(--gray-high);
}

textarea {
  resize: vertical;
  min-height: 70px;
  border-radius: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

a {
  &:visited {
    color: var(--gray-high);
  }
}

section {
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
  position: absolute;
  height: 50vh;
  width: 100%;
  opacity: 1;
  overflow-y: auto;
  z-index: 3;
  padding: 3px;
  padding-right: 1rem;
}

.list {
  margin-top: 1rem;
}

.form-group {
  margin: 1.5rem 0;
}

.entity-informations {
  width: 100%;
}

.link {
  text-decoration: underline;
  cursor: pointer;

  & a {
    color: inherit;
    text-decoration: inherit;
  }
}

.personalized-input-range {
  -webkit-appearance: none; /* Remove a aparência padrão do input */
  width: 100%; /* Largura total */
  height: 8px; /* Altura da barra */
  background: var(--gray-high); /* Cor da barra */
  border-radius: 5px; /* Bordas arredondadas */
  outline: none; /* Remove a borda ao focar */
  margin: .7rem auto;
  border: none !important;
  padding: initial;
  outline: none !important;
}

  .personalized-input-range::-webkit-slider-thumb {
      -webkit-appearance: none; /* Remove a aparência padrão do thumb */
      appearance: none;
      width: 15px; /* Largura do thumb */
      height: 15px; /* Altura do thumb */
      background: var(--orange); /* Cor do thumb (círculo) */
      border-radius: 50%; /* Tornar o thumb circular */
      cursor: pointer; /* Cursor de ponteiro ao passar por cima */
      border: 1px solid var(--orange); /* Borda ao redor do thumb */
      position: relative;
      top: -5px; /* Ajusta a posição vertical do thumb */
  }

  .personalized-input-range::-moz-range-thumb {
      width: 15px; /* Largura do thumb */
      height: 15px; /* Altura do thumb */
      background: var(--orange); /* Cor do thumb (círculo) */
      border-radius: 50%; /* Tornar o thumb circular */
      cursor: pointer; /* Cursor de ponteiro ao passar por cima */
      border: 1px solid var(--orange); /* Borda ao redor do thumb */
  }

  .personalized-input-range::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      background: var(--gray-high); /* Cor da barra */
      border-radius: 5px; /* Bordas arredondadas */
  }

  .personalized-input-range::-moz-range-track {
      width: 100%;
      height: 5px;
      background: var(--gray-high); /* Cor da barra */
      border-radius: 5px; /* Bordas arredondadas */
  }

.rounded-button {
  width: 43px;
  height: 43px;
  min-width: 43px;
  min-height: 43px;
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: linear-gradient(to bottom right, var(--blue), var(--orange));
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
  color: var(--gray-high);

  &:hover {
    filter: brightness(1.2);
  }

  &::after {
    content: "";
    background: rgba(255, 255, 255, 0.15);
    transform: rotate(45deg);
    width: 200%;
    position: absolute;
    top: -120%;
    left: -120%;
    height: 200%;
    z-index: 2;
  }
}

.btn-loading::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 5px solid var(--gray-high);
  border-top-color: var(--orange-low);
  animation: spin 1s linear infinite;
  margin-left: 1rem;
}

@keyframes spin {
  0% {
      transform: rotate(0);
  }

  100% {
      transform: rotate(360deg);
  }
}

.informations-footer {
  display: flex;
  justify-content: space-between;
}

.fa-star {
  cursor: pointer;
}

@media (max-width: 768px) {
  section {
    height: calc(100vh - 246px);
  }
}